*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid green; */
}

body{
    background-color: #fff;
    font-family: sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
}

.logo{
    width: 170px;
    height: 55px;
    gap: 10px;
}

.search-bar{
    align-content: center;
    margin-top: 10px;
}

.search-bar input{
    width: 300px;
    height: 40px;
    border-radius: 40px;
    /* padding: 10px; */
    gap: 12px;
    text-align: center;
    border: none;
    background: #F4F5F6;
}

.header-btns{
    width: 335px;
    height: 60px;
    border-radius: 80px;
    align-content: center;
    background-color: #F4F5F6;
    padding: 0px 10px 0px 10px;
}

#header-btns1{
    width: 121px;
    height: 40px;
    gap: 10px;
    border-radius: 80px;
    border: none;
    color: #1286C8;
    cursor: pointer;
    background-color: #FAFCFE;
}

#header-btns2{
    width: 180px;
    height: 40px;
    gap: 10px;
    border-radius: 80px;
    background-color: #1286C8;
    color: white;
    border: none;
    cursor: pointer;
}

.navbar{
    /* justify-content: center; */
}

.navbar .active{
    padding-bottom: 5px;
    border-bottom: 3px solid #60AEDA
}

nav ul {
    margin: 0 auto;
    list-style: none;
    width: 80%;
    display: flex;
    background-color: #E7F3FA;
    padding: 10px 20px;
    justify-content: space-between;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #0D5F8E;
}

nav ul li a:hover {
    text-decoration:solid;
}

#section1{
    background-image: url("../assets/images/about-BG.png");
    height: 250px;
    width: 100%;
}

#section1 .title{
    margin-top: 3rem;
    padding-top: 4rem;
    text-align: center;
    /* align-content: center; */
}


#section1 .title h1{
    color: #0D5F8E;
    font-size: 30px;
}

#section1 .title p{
    color: #0D5F8E;
    font-size: 14px;
}

#section2{
    background-color: #107AB6;
    padding: 2rem 0;
    width: 90%;
    margin: -4rem auto 0;
}

.sec2-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    /* border: 2px solid orangered; */
}

.col-1{
    /* border: 2px solid blue; */
    width: 410px;
    margin: 2rem 0;
}

.col-1 h4{
    /* border: 2px solid yellow; */
    font-size: 20px;
    color: #C2E6F0;
}

.col-1 span{
    font-size: 30px;
    color: #E7F3FA;
}

.col-1 p{
    font-size: 14px;
    color: #E7F3FA;
    margin: 2rem 0;
    line-height: 20px;
}

/* .col-1 .address{
    border: 2px solid white;
} */

.address .add{
    gap: 20px;
    height: 50px;
    display: flex;
    align-items: center;
}

.add img{
    /* border: 2px solid orange; */
    width: 30px;
    height: 30px;
    /* align-content: center; */
}

.add p{
    /* border: 2px solid orangered; */
    color: #EBF7FA;
}

.col-2{
    /* border: 2px solid black; */
    width: 500px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    /* border: 2px solid green; */
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.contact-form form button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #1286C8;
    color: #fff;
    border-radius: 80px;
    cursor: pointer;
    margin: 1rem 0;
}

.contact-form form input{
    width: 100%;
    height: 30px;
    padding: 10px;
    gap: 10px;
    border: none;
    background: #F4F5F6;
    margin: 1rem 0;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    /* width: calc(100% - 22px); Adjust for padding */
}

.contact-form form textarea{
    margin: 1rem 0;
}

.contact-form button:hover {
    background-color: #0468a2;
}

.map{
    margin: 2rem 0;
    overflow: hidden;
}

#section3{
    /* border: 2px solid red; */
    width: 90%;
    margin: 2rem auto;
}

.sec3-row{
    /* border: 2px solid black; */
    margin: 20px 0;
    
}

.sec3-row-container{
}

.sec3-list{
    margin: 1rem 0;
    width: 500px;
}

.sec3-conc{
    /* border: 2px solid black; */
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #CBD0D7;

}

.sec3-conc p{
    /* align-content: center; */
    padding: 15px 10px;
    /* border: 2px solid blue; */
}

.sec3-conc img{
    /* border: 2px solid green; */
    margin-top: 1rem;
    width: 20px;
    height: 20px;
}

.sec3-col1{
    /* border: 2px solid blue; */
    background-color: #E7F3FA;
    width: 500px;
    padding: 1rem;
}

.sec3-col1 h3{
    /* border: 2px solid green; */
    color: #3C4047;
    font-size: 17px;
    padding: 1rem 0 0 4rem;
}

.sec3-col1 p{
    font-size: 12px;
    margin: 1rem 0;
}

.sec3-conc:hover {
    background-color: #E7F3FA;
}

.sec3-list a{
    text-decoration: none;
    color: #000000;
}

.sec3-row h4{
    font-size: 17px;
    color: #1286C8;
    margin:10px 0;
}

.sec3-row h1{
    font-size: 24px;
    color: #107AB6;
    margin:10px 0;
}

.sec3-row p{
    font-size: 14px;
    color: #434343;
    margin: 10px 0;
    width: 500px;
    line-height: 20px;
}

.sec3-col1{
    /* border: 2px solid blue; */
    background-color: #E7F3FA;

}

.sec3-col1 h3{
    /* border: 2px solid green; */
    color: #3C4047;
    font-size: 17px;
    padding: 1rem 0 0 4rem;
}

.sec3-col1 p{
    font-size: 12px;
    color: #434343;
    line-height: 15px;
    padding: 1rem;
}

.sec3-conatiner{
    display: flex;
    gap: 50px;
}

.sec3-columns{
    width: 600px;
}

.sec3-col2{
    /* border: 2px solid red; */
    width: 500px;
    align-content: center;
}

.contactForm{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.contactForm h3{
    font-size: 23px;
    margin: 10px;
    color: #107AB6;
}

.contactForm p{
    font-size: 12px;
    color: #434343;
    text-align: center;
    margin: 1rem 0;
}

.contactForm label{
    font-size: 13px;
}

.contactForm form input{
    width: 100%;
    height: 30px;
    padding: 10px;
    gap: 10px;
    border: none;
    background: #F4F5F6;
    margin: 1rem 0;
    font-weight: bold;
}

.sec3-col2 button{
    background-color: #1286C8;
    border: none;
    color: #FFFFFF;
    border-radius: 80px;
    width: 100%;
    height: 35px;
    align-content: center;
    cursor: pointer;
    
}














#section7{
    /* border: 2px solid red; */
    width: 90%;
    margin: 1rem auto;
}

#section7 .sec7-container{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.section-title{
    margin: 2rem 0;
    padding-top: 2rem;
    color: #0D5F8E;
    /* width: 90%; */
}

.sec7-img img{
    width: 300px;
    height: 200px;
}

.sec7-item h1{
    font-size: 20px;
    color: #3C4047;
    margin: 1rem 0;
}

.sec7-param button{
    /* background-color: #F4F5F6; */
    color: #107AB6;
    background-color: transparent;    
    width: 130px;
    height: 30px;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center; 
    font-size: 14px;
}

.sec7-param button span{
    margin-left: 5px;
}

.sec7-param P{
    font-size: 14px;
    color: #656C77;
    margin: 1rem 0;
}

footer{
    background-color: #107AB6;

}

.footer-container{
    /* border: 2px solid yellow; */
    color: #ccc;
    display: flex;
    gap: 80px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #60AEDA;
}

footer .column1{
    /* border: 3px solid black; */
    width: 600px;
}

footer .column1 p{
    font-size: 16px;
    color: #B6D9EE;
    margin: 1rem 0;
}

footer .column1 .icons{
    display: flex;
    gap: 20px;
}

footer .column2{
    /* border: 3px solid red; */
    width: 100%;
}

.column2 .row ul{
    display: flex;
    gap: 20px;
    color: #EBF7FA;
}

.column2 .row li{
    list-style: none;
    font-size: 13px;
    margin: 1rem 0;
    padding-bottom: 5px;
    border-bottom: 0.1px solid #EBF7FA;
}

.row2 ul a{
    text-decoration: none;
    color: #EBF7FA;
}

.row2 li{
    list-style: none;
}


.row3{
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
}

.row3 h1{
    margin: 1rem 0 0 0;
    font-size: 20px;
    color: #EBF7FA;
}

.row3 p{
    font-size: 14px;
    color: #B6D9EE;
    margin: 10px 0 0 0;
    width: 350px;
    line-height: 18px;
}

.row3-btn{
    height: 55px;
    width: 350px;
    align-content: center;
    background-color: #CDD3D8;
    gap: 10px;
    border-radius: 80px;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    text-align: center;
}

.row3-btn input{
    background-color: #FAFCFE;
    border: none;
    color: #107AB6;
    border-radius: 80px;
    width: 200px;
    height: 40px;
    align-content: center;
    cursor: pointer;
}

.row3-btn input::placeholder{
    padding-left: 15px;
}

.row3-btn button{
    background-color: #1286C8;
    border: none;
    color: #FFFFFF;
    border-radius: 80px;
    width: 121px;
    height: 40px;
    align-content: center;
    cursor: pointer;
}

.row3-container{
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: space-between;
}

.help{
    position: relative;
    width: 120px;
    height: 100px;
}

.help-img1{
    position: absolute;
    left: 0;
    bottom: 0;
}

.help-img2{
    position: absolute;
    top: 0;
    right: 0;
}

.help img{
    width: 70px;
    height: 60px;
}

.copyrite{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5px;
}

.copyrite p{
    font-size: 14px;
    color: #B6D9EE;
}






/* For desktop screens */
@media only screen and (min-width: 1024px) {
    /* Your desktop-specific styles go here */
    body {
        /* background-color: lightblue; */

    }
}

/* For tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet-specific styles go here */
    body {
        /* background-color: lightgreen; */


    }
}

/* For phone screens */
@media only screen and (max-width: 767px) {
    /* Your phone-specific styles go here */
    body {
        width: 100%;
        /* border: 2px solid green; */
    }
    .header-container{
        display: flex;
        flex-direction: column;
        margin: 0.5rem auto;
        width: 90%;
        gap: 10px;
    }
   .logo{
        display: flex;
        flex-direction: column;
   }
    .search-bar{
        width: 100%;
        margin: 1rem auto;
    }
    .search-bar input{
        height: 40px;
        width: 100%;
    }
    .search-bar input::placeholder{
        font-size: 20px;
    }
    .navbar{
        display: none;
    }
    .header-btns{
        display: none;
    }
    #section1 .title{
        line-height: 32px;
    }
    #section1 .title p{
        font-size: 18px;
    }
    #section2{
        width: 100%;
    }
    .sec2-container{
        flex-direction: column;
    }
    .col-1{
        width: 100%;
    }
    .col-1 span{
        font-size: 27px;
    }
    .col-1 p{
        font-size: 19px;
    }
    .col-2{
        width: 100%;
    }
    .contact-form form{
        margin: 0;
    }
    .contact-form form button{
     font-size: 18px;
    }
    .contact-form form input{
        font-size: 15px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 18px;
    }
    .col-2 form label{
        font-size: 20px;
        font-weight: 300px;
    }
    #section3{
        width: 100%;
    }
    .sec3-conatiner{
        flex-direction: column;
    }
    .sec3-row{
        width: 100%;
        overflow: hidden;
        padding: 0 20px;
    }
    .sec3-row h4{
        font-size: 17px;
    }
    .sec3-row h1{
        font-size: 21px;
    }
    .sec3-row p{
        width: 100%;
        font-size: 17px;
    }
    .sec3-row-container{
        width: 100%;
    }
    .sec3-columns{
        width:100%;
    }
    .sec3-col1{
        width: 100%;
        padding: 10px 5px;
    }
    .sec3-col1 p{
        font-size: 17px;
        line-height: 20px;
    }
    .sec3-col1 h3{
        padding: 0;
        text-align: center;
    }
    .sec3-list{
        width: 100%;
    }
    .contactForm p{
        font-size: 16px;   
        line-height: 22px; 
    }
    .contactForm label{
        font-size: 16px;
    }
    .sec3-conc p{
        font-size: 18px;
    }
    
    .sec3-conc img{
        width: 20px;
        height: 20px;
    }
    .sec3-col2{
        width: 100%;
    }
    #section7{
        width: 100%;
    }
    .sec7-param p{
        font-size: 19px;
    }
    .section-title h1{
        text-align: center;
    } 
    .sec7-container{
        width: 90%;
        margin: auto;
        flex-direction: column;
    }
    .sec7-img img{
        width: 100%;
    }
    .footer-container{
        flex-direction: column;
    }
    footer .column1{
        width: 100%;
    }
    .ft-logo{
        display: flex;
        justify-content: center;
    }
    .column1 p{
        font-size: 50px;
        font-weight: 700;
    }
    footer .icons{
        justify-content: space-around;
        width: 100%;
        margin-top: 2rem;
    }
    .column2 .row ul{
        flex-direction: column;
    }
    .column2 .row li{
        list-style: circle;
        list-style-position: inside;
        margin: 0;
        width: 80%;
        font-size: 18px;
    }
    .row1{
        margin-bottom: 2rem;
    }
    .row3 p{
        font-size: 17px;
    }
    .row3-container{
        flex-direction: column;
    }
    .row3-btn{
        width: 90%;
        margin: 2rem auto;
    }
    .row3-btn input{
        width: 150px;
    }
    .row3-btn input::placeholder{
        font-size: 16px;
    }
    .row3-btn button{
        font-size: 17px;
    }
    .help{
        display: none;
    }

}
