*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
}

.logo{
    width: 170px;
    height: 55px;
    gap: 10px;
}

.search-bar{
    align-content: center;
    margin-top: 10px;
}

.search-bar input{
    width: 300px;
    height: 40px;
    border-radius: 40px;
    /* padding: 10px; */
    gap: 12px;
    text-align: center;
    border: none;
    background: #F4F5F6;
}

.header-btns{
    width: 335px;
    height: 60px;
    border-radius: 80px;
    align-items: center;
    background-color: #F4F5F6;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    display: flex;
    gap: 8px;
}

#header-btns1{
    width: 121px;
    height: 40px;
    gap: 10px;
    border-radius: 80px;
    border: none;
    color: #1286C8;
    cursor: pointer;
    background-color: #FAFCFE;
}

#header-btns2{
    width: 170px;
    height: 40px;
    gap: 10px;
    border-radius: 80px;
    background-color: #1286C8;
    color: white;
    border: none;
    cursor: pointer;
}

#header-btns2:hover{
    background-color: #0D5F8E;
    cursor: pointer;
}

.navbar{
    justify-content: center;
}

.navbar .active{
    padding-bottom: 5px;
    border-bottom: 3px solid #60AEDA
}


nav ul {
    margin: 0 auto;
    list-style: none;
    width: 90%;
    display: flex;
    background-color: #E7F3FA;
    padding: 10px 20px;
    justify-content: space-between;
    gap: 50px;
}


nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
nav ul li span{
    position: absolute;
    top: 0;
}

nav ul li a {
    text-decoration: none;
    color: #0D5F8E;
}

nav ul li a:hover {
    text-decoration:solid;
} 



main {
    display: flex;
    justify-content: space-between;
     width: 90%;
    margin: 4rem auto; 
}

.header-h1 h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 700;
    line-height: 50px;
    color: #0D5F8E;
}
.header-h1 img{
    display: none;
}

.header-param p {
    width: 530px;
    height: 70px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
    color: #0A4A6E;
    line-height: 24.59px;
}

.header-h1{
    width: 40%;
}

.header-body{
    width: 60%;
}

.buttons #buttons-btn1{
    width: 150px;
    padding: 12px 0;
    border-radius: 80px;
    background-color: #1286C8;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.buttons #buttons-btn2{
    position: relative;
    /* align-content: center; */
    width: 180px;
    border-radius: 80px;
    background-color: #F4F5F6;
    color: #1286C8;
    border: none;
    padding: 12px 0;
    cursor: pointer;
}

.buttons #buttons-btn2 span{
    margin-left: 5px;
    
}

.buttons{
    width: 335px;
    /* height: 60px; */
    border-radius: 80px;
    align-items: center;
    background-color: #E6EDEE;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    display: flex;
    gap: 8px;
    display: flex;
    /* padding: 10px; */
}

.buttons button {
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
    transition: background-color 0.3s;
}


.buttons #buttons-btn1:hover {
    background-color: #F4F5F6;
    color: #1286C8;
} 

.buttons #buttons-btn2:hover {
    background-color: #E7F3FA;
    color: black;
} 

.section-title{
    margin: 2rem 0;
    padding-top: 2rem;
    color: #0D5F8E;
    /* width: 90%; */
}

.section1{
    margin-bottom: 4rem;
}

.section1 img{
    width: 100%;
    height: 432px;
}

#section2{
    width: 100%;
    margin: 2rem auto;
    background-color: #F4F5F6;
}

#section2 .section2-container2{
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#section2 .section-title{
    width: 90%;
    margin: 10px auto;
}

.section2-container{
    display: flex;
    margin: 2rem auto;
    width: 90%;
    justify-content: space-between;
}

.section2-img .cv img{
    width: 580px;
    height: 250px;
}

.section2-img .mv{
    display: none;
}

.section2-param p{
    width: 500px;
    height: 150px;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
    color: #0A4A6E;
    line-height: 24.59px;
}

.section2-btns{
    width: 335px;
    height: 60px;
    border-radius: 80px;
    align-items: center;
    background-color: #E6EDEE;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    display: flex;
    gap: 8px;
}

.section2-btns img{
    height: 10vh;
}


.section2-btns #section2-btns1{
    width: 121px;
    height: 40px;
    gap: 10px;
    border-radius: 80px;
    border: none;
    color: #1286C8;
    cursor: pointer;
    background-color: #FAFCFE;
}

.section2-btns #section2-btns2{
    width: 170px;
    height: 40px;
    gap: 10px;
    border-radius: 80px;
    background-color: #1286C8;
    color: white;
    border: none;
    cursor: pointer;
}

.section2-btns #section2-btns2:hover {
    background-color: #FFFFFF;
    color: #1286C8;
} 

.section2-btns #section2-btns1:hover {
    background-color: #1286C8;
    color: #F4F5F6;
} 

.section2-content{
    display: flex;
    gap: 20px;
    margin: 3rem auto ;
    justify-content: center;
    position: absolute;
    top: 6px;
    /* border: 2px solid green; */

}

.content{
    width: 100%;
    margin: auto;
    height: 400px;
    text-align: center;
    /* border: 2px solid green; */
}

.content-img{
    width: 300px;
    height: 180px;
    background-color: #1286C8;
}

.content-img img{
    align-content: center;
}

.content-details{
    background-color: #FFFFFF;
    width: 300px;
}

.content-details h3{
    padding: 1rem 0;
    color: #0D5F8E;
}

.content-details p{
    margin: 0 0 2rem 0;
    color: #0D5F8E;
    /* text-align: center; */
    font-weight: 400;
    font-size: 14px;
}

.content-details button{
    background-color: #DEF2FE;
    border: none;
    color: #107AB6;
    border-radius: 80px;
    margin-left: 45px;
    width: 210px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
}

.content-details button span{
    margin-left: 5px;
}

.content-details button:hover {
    background-color: #E6EDEE;
    color: #1286C8;
} 

.section2-divs{
    /* border: 2px solid black; */
    width: 91%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    
}

.section2-divs .div1{
    border-radius:7px;
    width: 29px;
    height: 420px;
    background-color: #B6D9EE;
    left: 0;
}

.section2-divs .div2{
    width: 29px;
    height: 420px;
    border-radius: 7px;
    background-color: #B6D9EE;
    right: 0;
}

#section3{
    width: 90%;
    margin: 5rem auto;
    /* border: 2px solid black; */
}

.section3-details{
    /* border: 2px solid black; */
    display: flex;
    gap: 55px;
    margin-bottom: 2rem;

}

#section3 .section-title{
    /* color: #0D5F8E;
    font-weight: 700;
    font-size: 20px; */
    width: 90%;
}

.sect3-title span{
    color: #107AB6;
    font-size: 30px;
    font-weight: 700;
}

.sect3-title p{
    line-height: 30px;
    font-size: 20px;
    color: #656C77;
}

.section3-details-container{
    /* border: 2px solid red; */
    width: 350px;
}

.sect3-title{
    /* border: 2px solid purple; */
    margin: 2rem 0;

}

.sect3-param{
    font-size: 16px;
    color: #656C77;
}

.step1{
    padding-bottom: 2rem;
}

.sec3-page{
    padding-top: 3rem;
    height: 350px;
    /* border: 2px solid black; */
    background-size:cover;
    background-image: url("../assets/images/minimalistic-science-banner-with-stethoscope\ 2.png") ;
}

.sec3-page h1{
    font-size: 30px;
    color: #0D5F8E;
    margin: 1rem 0;
    line-height: 40px;

}

.sec3-page p{
    font-size: 15px;
    color: #0A4A6E;
    margin: 1rem 0;
    line-height: 20px;
}

.sec3-page button{
    background-color: #DEF2FE;
    border: none;
    color: #107AB6;
    border-radius: 80px;
    width: 210px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
}

.sec3-page button span{
    margin-left: 5px;
}

#section4{
    width: 90%;
    margin: 1rem auto;
}

#section4 .sec4-h1 h1{
    margin: 1rem auto;
    color: #0D5F8E;
    font-weight: 700;
    font-size: 20px;
}

.sec4-container img{
    width: 100%;
    height: 400px;
    background-size: cover;
    margin: 1rem 0;
}


.sec4-container h2{
    color: #0D5F8E;
    font-weight: 700;
    font-size: 25px;
}

.sec4-container p{
    font-size: 17px;
    color: #0A4A6E;
    margin: 1rem 0;
    line-height: 20px;
}

.sec4-container p span{
    color: #107AB6;
}

#section5{
    width: 90%;
    margin: 3rem auto;
    /* border: 2px solid red; */
    display: flex;
    gap: 40px;
}

.detail-1{
    padding-bottom: 1rem;
    border-bottom: 1px solid #0A4A6E;
}


#section5 .sec5-img img{
    width: 500px;
    height: 600px;
}

/* .sec5-details{
    border: 2px solid black;
} */

.detail-1-container h1{
    font-size: 29px;
    color: #0D5F8E;
    margin: 1rem 0;
}

.detail-1-container p{
    font-size: 16px;
    color: #0A4A6E;
    margin: 1rem 0;
    line-height: 20px;
}
.detail-1-btns{
    width: 335px;
    height: 60px;
    border-radius: 80px;
    align-items: center;
    background-color: #E6EDEE;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    display: flex;
    gap: 8px;
}

.detail-1-btns img{
    height: 10vh;
}


#section5 #detail-1-btns1{
    width: 121px;
    height: 40px;
    gap: 10px;
    border-radius: 80px;
    border: none;
    color: #1286C8;
    cursor: pointer;
    background-color: #FAFCFE;
}

#section5 #detail-1-btns2{
    width: 170px;
    height: 40px;
    gap: 10px;
    border-radius: 80px;
    background-color: #1286C8;
    color: white;
    border: none;
    cursor: pointer;
}


#section5 #detail-1-btns1:hover {
    background-color: #1286C8;
    color: #F4F5F6;
}

#section5 #detail-1-btns2:hover {
    background-color: #FFFFFF;
    color: #1286C8;
} 

.detail-2-h1 h1{
    font-size: 29px;
    color: #0D5F8E;
    margin: 1rem 0;
}

.detail-2-item{
    display: flex;
    gap: 30px;
    /* border: 2px solid yellow; */
}

.detail-2-item p{
    /* border: 2px solid red; */
    align-content: center;
}

.detail-2-item img{
    width: 50px;
    height: 50px;
}



#section6 {
    /* font-family: Arial, sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.review-container {
    width: 100%;
    background-color: #F9FEFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.review-header .title{
    width: 500px;
}

.barg{
    display: flex;
    align-items: center;
    gap: 5px;
}

.review-header .barg{
    width: 200px;
}

.review-header .barg img{
    width: 30px;
    height: 30px;
}

.review-header .barg p{
    font-size: 12px;
}

.review-header h1 {
    margin: 5px;
    font-size: 24px;
    color: #0D5F8E;
}

.review-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.review-header p {
    font-size: 16px;
    color: #666;
    line-height: 20px;
    margin: 5px;
}

.reviews {
    display: flex;
    gap: 20px;
    overflow: hidden;
    justify-content: center;
    margin: 20px 0;
}

.review-card {
    max-width: 400px;
    justify-content: flex-start;
    padding: 15x;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.review-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review-card h3 {
    margin: 10px 0 5px 0;
}

.review-card h4 {
    margin: 5px 0 15px 0;
    color: #555;
}

.review-card p{
    font-size: 14px;
    color: #3C4047;
    margin: 1rem 0;
    line-height: 20px;
    padding: 15px;
}

.stars span {
    color: gold;
    font-size: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pagination button:hover {
    background-color: #0056b3;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.dots .active{
    background-color: #0056b3;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.fade{
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
}

.fade:hover{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.solid{
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out;
}





#section7{
    /* border: 2px solid red; */
    width: 90%;
    margin: 1rem auto;
}

#section7 .sec7-container{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.sec7-img img{
    width: 300px;
    height: 200px;
}

.sec7-item h1{
    font-size: 20px;
    color: #3C4047;
    margin: 1rem 0;
}

.sec7-param button{
    color: #107AB6;
    background-color: transparent;    
    width: 12   0px;
    height: 30px;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center; 
    font-size: 14px;
}

.sec7-param button span{
    margin-left: 5px;
}

.sec7-param P{
    font-size: 14px;
    color: #656C77;
    margin: 1rem 0;
}

.arr-btns{
    display: flex;
    gap: 20px;
    margin: 3rem 0;
    justify-content: center;
}

.arrow-btn img{
    width: 40px;
    height: 40px;
}

footer{
    background-color: #107AB6;

}

.footer-container{
    /* border: 2px solid yellow; */
    color: #ccc;
    display: flex;
    gap: 80px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #60AEDA;
}

footer .column1{
    /* border: 3px solid black; */
    width: 600px;
}

footer .column1 p{
    font-size: 16px;
    color: #B6D9EE;
    margin: 1rem 0;
}

footer .column1 .icons{
    display: flex;
    gap: 20px;
}

footer .column2{
    /* border: 3px solid red; */
    width: 100%;
}

.column2 .row ul{
    display: flex;
    gap: 20px;
    color: #EBF7FA;
}

.column2 .row li{
    list-style: none;
    font-size: 13px;
    margin: 1rem 0;
    padding-bottom: 5px;
    border-bottom: 0.1px solid #EBF7FA;
}

.row2 ul a{
    text-decoration: none;
    color: #EBF7FA;
}

.row2 li{
    list-style: none;
}


.row3{
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
}

.row3 h1{
    margin: 1rem 0 0 0;
    font-size: 20px;
    color: #EBF7FA;
}

.row3 p{
    font-size: 14px;
    color: #B6D9EE;
    margin: 10px 0 0 0;
    width: 350px;
    line-height: 18px;
}

.row3-btn{
    height: 55px;
    width: 350px;
    align-content: center;
    background-color: #CDD3D8;
    gap: 10px;
    border-radius: 80px;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    text-align: center;
}

.row3-btn input{
    background-color: #FAFCFE;
    border: none;
    color: #107AB6;
    border-radius: 80px;
    width: 200px;
    height: 40px;
    align-content: center;
    cursor: pointer;
}

.row3-btn input::placeholder{
    padding-left: 15px;
}

.row3-btn button{
    background-color: #1286C8;
    border: none;
    color: #FFFFFF;
    border-radius: 80px;
    width: 121px;
    height: 40px;
    align-content: center;
    cursor: pointer;
}

.row3-container{
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: space-between;
}

.help{
    position: relative;
    width: 120px;
    height: 100px;
}

.help-img1{
    position: absolute;
    /* border: 2px solid orange; */
    left: 0;
    bottom: 0;
}

.help-img2{
    position: absolute;
    /* border: 2px solid red; */
    top: 0;
    right: 0;
}

.help img{
    width: 70px;
    height: 60px;
}

.copyrite{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5px;
}

.copyrite p{
    font-size: 14px;
    color: #B6D9EE;
}



/* For desktop screens */
@media only screen and (min-width: 1024px) {
    /* Your desktop-specific styles go here */

}

/* For tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet-specific styles go here */
    body{
        width: 100%;
        border: 2px solid red;
        
    }
    .header-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
   .logo{
    display: flex;
    flex-direction: column;
   }
    .search-bar{
        width: 90%;
        margin: 1rem auto;
    }
    .search-bar input{
        height: 40px;
        width: 90%;
        padding: 30px 10px;   
        margin: auto;
    }
    .search-bar input::placeholder{
        font-size: 20px;
    }
    .header-btns{
        display: none;
    }
    .navbar{
        display: none;
    }
    .header-body{
        /* border: 2px solid green; */
    }
    .header-param p {
        width: 100%;
        font-size: 23px;
        line-height: 24.59px;
    }
    .buttons{
        width: 100%;
        margin-top: 4rem;
    }
    .buttons button{
        font-size: 20px;
    }
    .buttons #buttons-btn1{
        width: 180px;
        padding: 15px 0;
    }
    .buttons #buttons-btn2{
        width: 200px;
        padding: 12px 0;
    }
    .section1 img{
        display: none;
    }
    #section2{
        display: flex;
        flex-direction: column;
    }
    .section2 .row{
        display: flex;
        flex-direction: column;
    }
    .section2-img .cv img{
        width: 100%;
    }
    #section2 .section2-container{
        flex-direction: column;
    }
    #section2 .section2-container2{
      flex-direction: column;
      width: 100%;
    }
    .semi-container{
        flex-direction: column;
        margin: 1rem auto;
        width: 100%;
    }
    .semi-container .section2-btns{
        margin: 4rem auto 0;
        width:80%;
        height: 90px;
        border-radius: 60px;
        padding: 30px 20px;
        gap: 15px;
    }
    .section2-btns button{
        font-size: 22px;
    }
    .section2-btns #section2-btns1{
        width: 220px;
        height: 60px;
        gap: 15px;
        border-radius: 60px;
    }
    .section2-btns #section2-btns2{
        width: 270px;
        height: 60px;
        gap: 15px;
        border-radius: 60px;
    }

    .section2-param .btn{
        width: 300px;
        height: 50px;
        font-size: 20px;
    }

    .section2-param p{
        width: 100%;
        font-size: 25px;
    }
    .section2-content{
        border: 2px solid orange;
        position: relative;
        width: 96%;
        margin-top: auto;
        overflow: hidden;
    }
    .section2-divs .div1{
        display: none;
    }
    .section2-divs .div2{
        display: none;
    }
    .content{
        border: 2px solid blue;
        width: 33%;
        height: 50vh;
    }
    .content-img{
        width: 100%;
        align-content: center;
    }
    .content-img img{
        width: 120px;
        height: 120px;
        /* margin-top: 15px; */
    }
    .content-details{
        width: 100%;
    }
    .content-details h3{
        padding: 1rem 0;
    }
    .content-details p{
        font-size: 18px;
    }
    .content-details button{
        width: 100%;
        border: 2px solid red;
    }
    .sect3-title span{
        font-size: 35px;
    }
    .sect3-title p{
        line-height: 30px;
        font-size: 24px;
    }
    .sect3-param p{
        font-size: 23px;
    }
    .sec3-page h1{
        font-size: 35px;
        line-height: 40px;
    }
    .sec3-page p{
        font-size: 25px;
        line-height: 27px;
    }
    .sec3-page button{
        font-size: 21px;
    }
    .sec4-container h2{
        font-size: 35px;
    }
    .sec4-container p{
        font-size: 25px;
        line-height: 25px;
    }
    .detail-1-container h1{
        font-size: 30px;
    }
    .detail-1-container p{
        font-size: 25px;
        line-height: 25px;
    }
    #section5 .sec5-img img{
        width: 300px;
        height: 400px;
    }
}

/* For phone screens */
@media only screen and (max-width: 767px) {
    /* Your phone-specific styles go here */
    body{
        width: 100%;
    }

    .header-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

   .logo{
    display: flex;
    flex-direction: column;
   }

    .search-bar{
        /* border: 2px solid green; */
        width: 100%;
        margin: 1rem auto;
    }

    .search-bar input{
        height: 40px;
        
        /* padding: 10px; */
    }
    .search-bar input::placeholder{
        font-size: 20px;
    }

    .header-btns{
        display: none;
    }
    .navbar{
        display: none;
    }
    .section1 img{
        display: none;
    }
    main{
        flex-direction: column;
        margin: 1rem auto;
   
    }
    .section1{
        display: flex;
        flex-direction: column;
    }
    .section1 h1{
        font-size: 30px;
    }
    .section1 p{
        font-size: 20px;
    }
    .section1 .btn{
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
    #section2{
        display: flex;
        flex-direction: column;
    }
    .section2 .row{
        display: flex;
        flex-direction: column;
    }
    .section2-img .cv{
        display: none;
    }
    .section2-img .mv{
        display: block;
    }
    #section2 .section2-container{
        flex-direction: column;
    }

    #section2 .section2-container2{
        width: 100%;
        margin: auto;
    }

    .semi-container{
        flex-direction: column;
    }

    .semi-container .section2-btns{
        margin-top: 15rem;
    }

    .section2-param{
        width: 300px;
        height: 50px;
        font-size: 20px;
    }

    .section2-param p{
        width: 100%;
        font-size: 18px;
    }

    .section2-content{
        flex-direction: column;
        position: relative;
        width: 100%;
        justify-content: center;
        border: 2px solid green;
    }

    .section2-container2 .content{
        border: 2px solid red;
        width: 340px;
    }

    .section2-divs .div1{
        display: none;
    }

    .section2-divs .div2{
        display: none;
    }    
    .content-img{
        width: 100%;
    }
    .content-details{
        width: 100%;
    }
    .header-h1 img{
        display: block;
    }
    .header-h1{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
    }
    .header-h1 h1{
        width: 100%;
        text-align: center;
        font-size: 25px;
        line-height: 25px;
    }
    .header-body{
        flex-direction: column;
    }
    .header-param{
        margin: 2rem 0;
        width: 100%;
    }
    .header-param p{
        width: 170%;
        text-align: center;
    }
    .buttons{
        margin-top: 5rem;
    }
    .section3-details{
        flex-direction: column;
    }

    .section3-details-container{
        width: 100%;
    }
    .sect3-title p{
        line-height: 30px;
        font-size: 22px;
    }
    .sect3-param{
        font-size: 20px;
    }
    .sec3-page h1{
        font-size: 25px; 
        line-height: 30px;   
    }
    
    .sec3-page p{
        font-size: 20px;
        line-height: 25px;
    }

    .sec4-container img{
        height: 200px;
    }
    .sec4-container p{
        font-size: 19px;
        line-height: 25px;
    }

    #section5{
        flex-direction: column;
    }
    .sec5-details{
        flex-direction: column;
    }
    .detail-1-container p{
        font-size: 19px;
        line-height: 22px;
    }
    .detail-1-btns button{
        font-size: 18px;
    }
    .detail-2{
        display: flex;
        flex-direction: column;
    }
    .detail-2-item p{
        font-size: 17px;
    }
    #section5 .sec5-img img{
        width: 100%;
        height: 400px;
    }
    #section7{
        width: 90%;
    }
    .sec7-container{
        flex-direction: column;
    }
    .sec7-img img{
        width: 100%;
    }
    .sec7-item h1{
        font-size: 22px;
    }
    .sec7-param P{
        font-size: 20px;
    }
    .footer-container{
        flex-direction: column;
    }
    footer .column1{
        width: 100%;
    }
    .ft-logo{
        display: flex;
        justify-content: center;
    }
    .column1 p{
        font-size: 50px;
        font-weight: 700;
    }
    footer .icons{
        justify-content: space-around;
        width: 100%;
        margin-top: 2rem;
    }
    .column2 .row ul{
        flex-direction: column;
    }
    .column2 .row li{
        list-style: circle;
        list-style-position: inside;
        margin: 0;
        width: 80%;
        font-size: 18px;
    }
    .row1{
        margin-bottom: 2rem;
    }
    .row3 p{
        font-size: 17px;
    }
    .row3-container{
        flex-direction: column;
    }
    .row3-btn{
        width: 90%;
        margin: 2rem auto;
    }
    .row3-btn input{
        width: 150px;
    }
    .row3-btn input::placeholder{
        font-size: 16px;
    }
    .row3-btn button{
        font-size: 17px;
    }
    .help{
        display: none;
    }

    
}



