<footer>
    <div class="footer-container">
        <div class="column1">
            <div class="ft-logo">
                <img src="/assets/images/FT-LOGO.png" alt="Logo">
            </div>
            <p>We are a dedicated team of healthcare professionals, technologists, and innovators committed to
                transforming the way healthcare is delivered. Our platform connects patients with certified doctors,
                specialists, and mental health professionals through secure and user-friendly virtual consultations.
                With a focus on patient-centric care, we strive to offer a seamless and efficient healthcare
                experience.</p>
            <div class="icons">
                <a href="#"><img src="/assets/images/Facebook.png" alt="" width="32px" height="28px"></a>
                <a href="#"><img src="/assets/images/twitter.png" alt=""></a>
                <a href="#"><img src="/assets/images/linkedin.png" alt=""></a>
                <a href="#"><img src="/assets/images/instagram.png" alt=""></a>
            </div>
        </div>

        <div class="column2">
            <div class="row row1">
                <ul>
                    <li>Careers</li>
                    <li>Pricing and Plans</li>
                    <li>Privacy Policy</li>
                    <li>Health Articles</li>
                    <li>About Us</li>
                </ul>
            </div>

            <div class="row row2">
                <ul>
                    <a href="#">
                        <li>Patient Rights and Responsibilities</li>
                    </a>
                    <a href="#">
                        <li>News and Update</li>
                    </a>
                    <a href="#">
                        <li>Terms and Conditions</li>
                    </a>
                    <a href="">
                        <li>How it Works</li>
                    </a>
                </ul>
            </div>

            <div class="row3">
                <h1>Stay Connected Us</h1>
                <p>Subscribe to our Newsletter to get daily dose of health tips to keep you away from the doctors.
                </p>

                <div class="row3-container">
                    <div class="row3-btn">
                        <input type="text" name="" placeholder="Enter Your Email">
                        <button type="submit">Subscribe</button>
                    </div>

                    <div class="help">
                        <div class="help-img1 img">
                            <img src="/assets/images/Group 4.png" alt="">
                        </div>

                        <div class="help-img2 img">
                            <img src="/assets/images/Group 2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyrite">
        <img src="/assets/images/FT-C.png" alt="" style="color: #FFFFFF; width: 18px; height: 18px;">
        <img src="/assets/images/LOGO2.png" alt="">
        <p>Copy right 2024</p>
    </div>
</footer>

<script src="/js/index.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/services.js"></script>
</body>

</html>