<%- include("./partials/header") %>


<div class="error-container">
    <h1>404</h1>
    <h2>Oops! Page Not Found</h2>
    <p>Sorry, the page you're looking for doesn't exist.</p>
    <a href="/">Go Back Home</a>
</div>


<%# This is my footer %>
<%- include("./partials/footer") %>

