<%# This is my Header %>
<%- include("./partials/header") %>


    <section id="section1">
        <div class="sec1-container">
            <div class="title">
                <h1>Services We Provide</h1>
            </div>

            <div class="sec1-details">
                <div class="col">
                    <h3>Health Consultation</h3>
                    <p>We specialise in General Health and Specialist Consultation. Whichever consultation you wish to go for, we are always ready to deliver the best solution to you at your convenient.</p> 
                </div>

                <div class="col">
                    <h3>Wellness Programs</h3>
                    <p>We specialise in General Health and Specialist Consultation. Whichever consultation you wish to go for, we are always ready to deliver the best solution to you at your convenient.</p>
                </div>

                <div class="col">
                    <h3>Prescription Services</h3>
                    <p>We specialise in General Health and Specialist Consultation. Whichever consultation you wish to go for, we are always ready to deliver the best solution to you at your convenient.</p>
                </div>
           
            </div>
        </div>
    </section>


    <section id="section2">
        <div class="sec2-container">
            <div class="sec2-col1">
                <div class="col1-row1">
                    <h1>Health Consultation</h1>
                    <p>We specialise in General Health and Specialist Consultation. Whichever consultation you wish to go for, we are always ready to deliver the best solution to you at your convenient.</p>
                </div>

                <div class="col1-row2">
                    <p><span>General Health Consultation </span>Our general health consultations are designed to help you maintain optimal health and well-being.  Our general health services include:</p>
                
                    <div class="col1-list">
                        <ul>
                            <li><span>Routine Check-Ups:</span> Regular health assessments to monitor your overall health and catch potential issues early..</li><br>

                            <li><span>Preventive Care:</span> Guidance on lifestyle changes, vaccinations, and screenings to prevent illness and promote long-term health.</li><br>

                            <li><span>Chronic Condition Management:</span> Support and advice for managing chronic conditions such as diabetes, hypertension, and asthma.</li><br>

                            <li><span>Acute Illnesses:</span> Diagnosis and treatment for common illnesses such as colds, flu, and infections.</li><br>

                            <li><span>Health Advice:</span> Personalized recommendations on diet, exercise, and mental well-being to enhance your quality of life.</li>
                        </ul>
                    </div>
                </div>

                

                <div class="col1-row2 col2-row2">
                    <p><span>Specialist Consultation </span>our specialists are available to provide expert advice and treatment plans tailored to your specific needs. Our specialist services include: </p>

                     <div class="col1-list">
                        <ul>
                            <li><span>Dermatology:</span>  Expert care for skin conditions such as acne, eczema, psoriasis, and skin cancer screenings.</li><br>

                            <li><span>Cardiology:</span>  Consultations for heart-related issues, including high blood pressure, heart disease, and cholesterol management.</li><br>

                            <li><span>Pediatrics:</span>  Specialized care for infants, children, and adolescents, covering growth, development, and common pediatric conditions.</li><br>

                            <li><span>Mental Health:</span>  Access to licensed therapists and counselors for mental health support, including therapy for anxiety, depression, and stress.</li>
                        </ul>
                     </div>
                </div>

                <div class="sec2-btns">
                    <button id="sec2-btn1">Book Appointment</button>
                    <button id="sec2-btn2">Get Instant Help</button>
                </div>
               
            </div>

            <div class="sec2-col2">
                <img src="/assets/images/doctor.png" alt="">
            </div>
        </div>
    </section>

    <section id="section3">
        <div class="sec3-container">
            <h1>Wellness Program</h1>
            <p>Wellness is more than just the absence of illness; it's a proactive approach to living a healthier, more fulfilling life.  we believe in the importance of wellness and its role in achieving optimal health. Our services are designed to support your wellness journey, offering comprehensive care that addresses physical, mental, and emotional well-being.we are committed to supporting your wellness journey. Embrace a healthier, more balanced life with our comprehensive wellness services. Start your wellness journey today and discover the benefits of a holistic approach to health.</p>
        </div>
    </section>

    <section id="section4">     
        <div class="sec4-container">
            <div class="row">
                <h2>Physical Wellness</h2>
                <p>Physical wellness involves maintaining a healthy body through regular exercise, balanced nutrition, and adequate sleep. It’s about taking proactive steps to prevent illness and manage existing conditions. Our platform offers:</p>

                <ul>
                    <li><span>Fitness and Exercise Guidance: </span>Personalized workout plans and advice from fitness experts to help you stay active and reach your fitness goals.</li>
                    <li><span>Nutrition Counseling: </span>Access to dietitians who can provide meal plans and nutritional advice tailored to your needs.</li>
                    <li><span>Sleep Management: </span>Tips and strategies to improve sleep quality, ensuring you get the rest you need to function at your best.</li>
                </ul>
            </div>

            <div class="">
                <h2>Social Wellness</h2>
                <p>Social wellness involves having a supportive network and engaging in positive social interactions. It’s about building meaningful relationships and contributing to your community. Our services include:</p>

                <ul>
                    <li><span>Community Support Groups: </span>Join virtual groups to connect with others who share similar health and wellness goals.</li>
                    <li><span>Family Health Services: </span>Support for families to promote collective well-being and health.</li>
                    <li><span>Health Education: </span> Workshops and webinars on various wellness topics to empower you with knowledge and skills.</li>
                </ul>
            </div>

            <div class="sec4-btns">
                <button id="sec4-btn1">Get answers</button>
                <button id="sec4-btn2">Start Consultation</button>
            </div>
        </div>

        <div class="sec4-img">
            <img src="/assets/images/Frame 249.png" alt="">
        </div>        
    </section>


    <section id="section5">
        <div class="sec5-container">
            <div class="sec5-details">
                <h1>Prescription Services</h1>
                <p> Our prescription services are designed to streamline the process, ensuring you receive the necessary prescriptions quickly and securely. Whether you need a new medication or a refill, our platform provides a seamless experience from consultation to delivery.</p>

                <div class="sec2-btns">
                    <button id="sec2-btn1">Book Appointment</button>
                    <button id="sec2-btn2">Get Instant Help</button>
                </div>
            </div>
        </div>
    </section>

    <section id="section6">
        <div class="sec6-container">
                <div class="section-title">
                <h1>How It Works</h1>
            </div>

            <div class="section6-details">
                <div class="section6-details-container">
                    <div class="sect6-title step1">
                        <span>Step 1: </span>
                        <p>Virtual Consultation</p>
                    </div>
        
                    <div class="sect6-param">
                        <p>Start with a virtual consultation with one of our certified healthcare providers. During your appointment, discuss your symptoms, medical history, and any current medications. Our doctors will assess your condition and determine the appropriate treatment plan</p>
                    </div>
                </div>


                <div class="section6-details-container">
                    <div class="sect6-title step2">
                        <span>Step 2: </span>
                        <p>Medication Delivery</p>
                    </div>
        
                    <div class="sect6-param">
                        <p>If a prescription is necessary, our healthcare provider will electronically send the prescription to your preferred pharmacy. This process is fast, secure, and eliminates the need for paper prescriptions, reducing the risk of errors and lost paperwork</p>
                    </div>
                </div>


                <div class="section6-details-container">
                    <div class="sect6-title step3">
                        <span>Step 3: </span>
                        <p>Medication Delivery</p>
                    </div>
        
                    <div class="sect6-param">
                        <p>For added convenience, you can choose to have your medications delivered directly to your home. Our platform partners with reliable pharmacies to offer home delivery services, ensuring you receive your medications promptly without the need to visit a pharmacy in person.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section7">
        <div class="section-title">
            <h1>Health Articles</h1>
        </div>

        <div class="sec7-container">

            <div class="sec7-item">
                <div class="sec7-img">
                    <img src="/assets/images/Frame 205.png" alt="">
                </div>

                <div class="sec7-param">
                    <h1>Mental Health and Wellness: Strategies for a Balanced Life</h1>
                    <p>Mental health is as important as physical health for overall well-being. Managing stress, practicing mindfulness, and seeking professional help when needed are key strategies for maintaining mental wellness. Remember, it's okay to seek help and talk about mental health concerns with trusted individuals or professionals.</p>
                    <button>Read More <span class="material-symbols-outlined">arrow_circle_right</span></button>
                </div>
            </div>

            
            <div class="sec7-item">
                <div class="sec7-img">
                    <img src="/assets/images/Nutrition.png" alt="">
                </div>

                <div class="sec7-param">
                    <h1>Mental Health and Wellness: Strategies for a Balanced Life</h1>
                    <p>Mental health is as important as physical health for overall well-being. Managing stress, practicing mindfulness, and seeking professional help when needed are key strategies for maintaining mental wellness. Remember, it's okay to seek help and talk about mental health concerns with trusted individuals or professionals.</p>
                    <button>Read More <span class="material-symbols-outlined">arrow_circle_right</span></button>
                </div>
            </div>


            <div class="sec7-item">
                <div class="sec7-img">
                    <img src="/assets/images/Mental.png" alt="">
                </div>

                <div class="sec7-param">
                    <h1>Mental Health and Wellness: Strategies for a Balanced Life</h1>
                    <p>Mental health is as important as physical health for overall well-being. Managing stress, practicing mindfulness, and seeking professional help when needed are key strategies for maintaining mental wellness. Remember, it's okay to seek help and talk about mental health concerns with trusted individuals or professionals.</p>
                    <button>Read More <span class="material-symbols-outlined">arrow_circle_right</span></button>
                </div>
            </div>

        </div>

        <div class="arr-btns">
            <div class="arrow-btn">
                <img src="/assets/images/BACKWARD-ARR.png" alt="" onclick="swapLeft()">
            </div>

            <div class="arrow-btn">
                <img src="/assets/images/FORWARD-ARR.png" alt="" onclick="swapLeft()">
            </div>
        </div>
    </section>



    <%# This is my footer %>
    <%- include("./partials/footer") %>